JAEGER_AGENT_HOST=jaeger
DASHBOARD_URL=http://dash.higiliquidos.deti.com/
ALLOWED_HOSTS=payments-api.higiliquidos.svc.cluster.local,saleor-api.higiliquidos.svc.cluster.local,dash.higiliquidos.deti.com,localhost,127.0.0.1,store.higiliquidos.deti.com,storefront,saleor-api,api.higiliquidos.deti.com,saleor-api
PUBLIC_URL=http://saleor-api.higiliquidos.svc.cluster.local
ALLOWED_CLIENT_HOSTS=payments-api.higiliquidos.svc.cluster.local,saleor-api.higiliquidos.svc.cluster.local,dash.higiliquidos.deti.com,localhost,127.0.0.1,store.higiliquidos.deti.com,storefront,saleor-api,api.higiliquidos.deti.com,saleor-api
CORS_ALLOWED_ORIGINS=http://payments-api.higiliquidos.svc.cluster.local,http://saleor-api.higiliquidos.svc.cluster.local,http://dash.higiliquidos.deti.com,http://localhost:9000,http://store.higiliquidos.deti.com,http://storefront:3000,http://saleor-api

CELERY_BROKER_URL=sentinel://:CHANGEME@redis-sentinel-service:26379/1
REDIS_MASTER=mymaster

PRIMARY_DB=postgres://postgres:CHANGEME@postgres/postgres
REPLICA_DB=postgres://postgres:CHANGEME@postgres-replica/postgres

DEFAULT_FROM_EMAIL=noreply@example.com
EMAIL_URL=smtp://mailpit:1025
SECRET_KEY=CHANGEME

AWS_MEDIA_BUCKET_NAME=media-bucket
AWS_STORAGE_BUCKET_NAME=storage-bucket
AWS_MEDIA_PRIVATE_BUCKET_NAME=private-bucket
AWS_ACCESS_KEY_ID=CHANGEME
AWS_SECRET_ACCESS_KEY=CHANGEME
AWS_S3_ENDPOINT_URL=http://minio-headless:9000
AWS_MEDIA_CUSTOM_DOMAIN=minio-svc.higiliquidos.svc.cluster.local/media-bucket
AWS_QUERYSTRING_AUTH=True
MEDIA_ROOT=minio-svc.higiliquidos.svc.cluster.local
USE_S3=True
AWS_S3_URL_PROTOCOL=http:
AWS_S3_FILE_OVERWRITE=False
AWS_DEFAULT_ACL=None

DJANGO_SUPERUSER_PASSWORD=admin

SUPERUSER_EMAIL=admin@higiliquidos.com
SUPERUSER_PASSWORD=admin
SALEOR_URL=http://saleor-api.higiliquidos.svc.cluster.local/graphql/

OTEL_METRIC_EXPORTER=otlp
OTEL_EXPORTER_OTLP_ENDPOINT=http://higiliquidos-collector:4318
OTEL_METRIC_EXPORT_INTERVAL_MS=10000